@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        HI
        <img src="~/IMAGE_CONTENT/Code the Way/CodeTheWay Logo.png" />
    </div>
</body>
</html>
